<!--

This is the about - infopage of the application.

-->

{% extends 'base_layout.html' %}
{% block content %}
<div class="container-fluid no-padding">
    <div class="app-text" style="Padding-top: 40px;">
        <div class="row">
            <div class="col-sm-12">
                {% load static %}
                <h3>How to use Floorball Scanner</h3>
                <p>Floorball Scanner gives you insight into your team's performance in real-time during
                the game. You are able to see how each line performs and take actions based on the data.</p>
                <img src="{% static 'symbol_transparent.png' %}" width="100px" height="100px">
                <h3>Shotmap</h3>
                <p>Map easily your and opponents shots and get a picture of how shots are distributed on the field.</p>
                </br>
                <img class="img-fluid" src="{% static 'shotmap.jpg' %}">
                </br></br>
                <h3>Advanced statistics</h3>
                <p>See deeper into the game result with advanced statistics, such as expected goals (xG) and ball possessions
                of each line individually. With advanced statistics provided by Floorball Scanner you are able to make better
                and more informed decisions also during game.</p>
                </br>
                <img class="img-fluid" src="{% static 'textresult.jpg' %}">
                </br></br>
                <h3>Intuitive visualizations</h3>
                <p>Sophisticated graphs and pictures help you form a better understanding of how your team and lines
                are doing against the opponent.</p>
                </br>
                <img class="img-fluid" src="{% static 'graphs.jpg' %}">
                </br></br>
                <img src="{% static 'symbol_transparent.png' %}" width="100px" height="100px"></br></br>
            </div>
        </div>
    </div>
</div>
{% endblock %}