<!--

This is the Django layout - html file. This file includes the layout of the application
when the user has logged in successfully.

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Floorball Scanner</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="0G4LRoNP-1vwJXnGckjN_p_ZdGB01eg3aZqsebUemJQ" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GMTSGWEP4V"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-GMTSGWEP4V');
    </script>
</head>
{% load static %}
<body>
    <div class="header">
        <nav class="navbar navbar-dark sticky-top navbar-expand-lg " style="background-color: #002072;">
            <a class="navbar-brand" href="accounts/"><img src="{% static 'logo_transparent.png' %}" height="34px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/edit_data">Edit data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/new_game">New Line-Based Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/premium_game">New Player-Based Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sData" onclick="saveData()">Save Game Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout/">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- This is where the extended content is placed -->
    {% block content %}
    {% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>

</body>
</html>