<!--

This is the Django layout - html file. This file includes the layout of the landing page
when there is not a logged in user.

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FB Analyzer</title>
    <link rel="stylesheet" href="/static/styles.css">
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header">
        <div class="menu">
            <ul>
                <li><img src="/static/ball.png" width="20px" height="20px"></li>
                <li><a href="/" class="home">Home</a></li>
                <li><a href="/about" class="about">About</a></li>
                <li><a href="/pricing" class="pricing">Pricing</a></li>
                <li><a href="/contact" class="contact">Contact</a></li>
                <li style="float:right"><a href="/accounts/login/">Login</a></li>
            </ul>
        </div>
        <!-- This is where the extended content is placed -->
        {% block content %}
        {% endblock %}
        <div class="app-picture">
            <img src="/static/floorball.jpg">
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>