<!--

This is the F-liiga result test page.

-->

{% extends 'base_layout.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <a href="/fliiga"><img src="{% static 'back.png' %}" width="20px" style="Padding-bottom:20px;"></a><br>
    </div>
    <div class="row justify-content-center" style="Padding-top: 10px;">
        <h6>Today's Matches</h6><br><br>
        <h7 style="margin-left:10px;margin-right:10px">This service will end and be moved inside the Floorball Scanner subscription.
            If you are interested in F-liiga live and game results,
            you can subscribe to Floorball Scanner in the link below.</h7><br><br>
        <h7><a href="https://account.app.holvi.com/group/kXS4wS+predictators-oy/inventory/ddcccc0367d4c59d44fc66317ec87e6e/">Subscribe</a></h7><br>
    </div>
    <div class="row justify-content-center" id="head" style="Padding-top: 10px;">

    </div>
    <br><br>
</div>

<script type="text/javascript" src="/static/js/fliigalivepage.js"></script>

{% endblock %}