<!--

This is the F-liiga result test page.

-->

{% extends 'base_layout.html' %}
{% block content %}
{% load static %}
<div class="container-fluid no-padding">
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-6">
            <div class="gamestats">
                <img src="{% static 'fliigalogo.svg' %}" width="100px"><br>
                <h2 style="Padding-top: 5px;">Game Results</h2><br>
                <a class="btn btn-primary" href="/fliiga_results" role="button">Select</a><br><br>
                <p>All Played Game Results</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="gamestats">
                <img src="{% static 'fliigalogo.svg' %}" width="100px"><br>
                <img src="{% static 'live.png' %}" width="60px"><br>
                <a class="btn btn-primary" href="/fliigalive" role="button">Select</a><br><br>
                <p>LIVE Game Data</p>
            </div>
        </div>
    </div>
    <br><br>
</div>

<script type="text/javascript" src="/static/js/fliigalivepage.js"></script>

{% endblock %}