<!--

This is the live result page for a game stream

-->

{% extends 'base_layout.html' %}
{% block content %}
{% load static %}

<div class="container" style="Padding-top: 30px;">
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <a href="/fliigalive"><img src="{% static 'back.png' %}" height="30px" style="Padding-bottom:20px;"></a>
        <div class="col-sm-12">
            <div id="gstats" class="gamestats">
                <h5 id="stdate"></h5>
                <h6>Attendance: <span id="game_attn"></span></h6>
                <h3 style="Padding-top: 20px"><img style="width:100px;" id="imgt1">&emsp;vs&emsp;<img style="width:100px;" id="imgt2"></h3>
                <h5 style="Padding-top: 10px" id="periodNr"></h5>
                <h2 id="label"></h2>
                <h3><span id="sttotg_1">0</span>&emsp;-&emsp;<span id="sttotg_2">0</span></h3>
                <h5><span id="sttotxG_1">0</span>&emsp;xG&emsp;<span id="sttotxG_2">0</span></h5>
                <h5><span id="sttotxGOT_1">0</span>&emsp;xGOT&emsp;<span id="sttotxGOT_2">0</span></h5>
                <h5><span id="sttotshots_1">0</span>&emsp;Shots&emsp;<span id="sttotshots_2">0</span></h5>
                <h5><span id="sttotsOT_1">0</span>&emsp;Shots On Target&emsp;<span id="sttotsOT_2">0</span></h5>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-6">
            <div class="team-selection">
                <h5><span id="stt1name">Team 1</span> player stats</h5>
                <div id="stT1L1_playerchart" style="Padding-top:10px;"></div>
                <div id="stT1L2_playerchart" style="Padding-top:10px;"></div>
                <div id="stT1L3_playerchart" style="Padding-top:10px;"></div>
                <div id="stT1L4_playerchart" style="Padding-top:10px;"></div>
                <div id="stT1G_playerchart" style="Padding-top:10px;"></div>
                <p style="font-size:8px;Padding-top:5px;">
                <b>Pos</b> = Player lineup position,
                <b>G</b> = Goals scored by player,
                <b>A</b> = Assists by player,
                <b>P</b> = Points by player,
                <b>S</b> = Shots by player,
                <b>xG</b> = expected Goals (All shots) by player,
                <b>xGOTA</b> = expected Goals (On-Target shots) by player,
                <b>+</b> = Plus goals (player on field),
                <b>-</b> = Minus goals (player on field),
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="team-selection">
                <h5><span id="stt2name">Team 2</span> player stats</h5>
                <div id="stT2L1_playerchart" style="Padding-top:10px;"></div>
                <div id="stT2L2_playerchart" style="Padding-top:10px;"></div>
                <div id="stT2L3_playerchart" style="Padding-top:10px;"></div>
                <div id="stT2L4_playerchart" style="Padding-top:10px;"></div>
                <div id="stT2G_playerchart" style="Padding-top:10px;"></div>
                <p style="font-size:8px;Padding-top:5px;">
                <b>Pos</b> = Player lineup position,
                <b>G</b> = Goals scored by player,
                <b>A</b> = Assists by player,
                <b>P</b> = Points by player,
                <b>S</b> = Shots by player,
                <b>xG</b> = expected Goals (All shots) by player,
                <b>xGOTA</b> = expected Goals (On-Target shots) by player,
                <b>+</b> = Plus goals (player on field),
                <b>-</b> = Minus goals (player on field),
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-12">
            <div class="team-selection">
                <h6><span id="A_teamname"></span> shotmap</h6>
                <canvas id="liveShotMap" width="200" height="332"></canvas>
                <h6><span id="B_teamname"></span> shotmap</h6>
            </div>
        </div>
    </div>
    </br></br>
</div>

<script type="text/javascript" src="/static/js/fliigalivegame.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.load('current', {'packages':['table']});

</script>

<!-- google.charts.setOnLoadCallback(updateCharts()); -->

{% endblock %}