<!--

This is the F-liiga result test page.

-->

{% extends 'base_layout.html' %}
{% block content %}
{% load static %}
<div class="container" style="Padding-top: 80px;">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="team-selection">
                <h2 style="Padding-top:20px;">Select game</h2><br>
                <select onchange="changeGame()" id="select-game" class="form-control-sm custom-select">
                    <option selected disabled>Select a game...</option>
                </select>
            </div>
            <hr width="100%" size="2" align="center" color="#002072" noshade>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-12">
            <div class="team-selection">
                <h5 id="stdate"></h5>
                <h3><img style="width:100px;" id="imgt1">&emsp;vs&emsp;<img style="width:100px;" id="imgt2"></h3>
                <h3><span id="sttotg_1">0</span>&emsp;-&emsp;<span id="sttotg_2">0</span></h3>
                <h5><span id="sttotxG_1">0</span>&emsp;xG&emsp;<span id="sttotxG_2">0</span></h5>
                <h5><span id="sttotxGOT_1">0</span>&emsp;xGOT&emsp;<span id="sttotxGOT_2">0</span></h5>
                <h5><span id="sttotshots_1">0</span>&emsp;Shots&emsp;<span id="sttotshots_2">0</span></h5>
                <h5><span id="sttotsOT_1">0</span>&emsp;Shots On Target&emsp;<span id="sttotsOT_2">0</span></h5>
            </div>
        </div>
    </div>
    <br><br>
</div>

<script type="text/javascript" src="/static/js/fliigapage.js"></script>

{% endblock %}