<!--

This is the live result page for a game stream

-->

{% extends 'base_layout.html' %}
{% block content %}
{% load static %}

<div class="container" style="Padding-top: 80px;">
    <div class="row justify-content-center">
        <div id="gstats" class="gamestats">
            <h1 id="h1"><span id="homeTeam">Home</span> - <span id="awayTeam">Away</span></h1>
            <h5 style="Padding-top: 10px" id="periodNr">Period 1</h5>
            <h2 id="label">00:00:00</h2>
            <h2><span id="homeGoals">0</span> - <span id="awayGoals">0</span> (<span id="homeGoalsP">0</span> - <span id="awayGoalsP">0</span>)</h2>
            <h4 style="Padding-bottom: 20px">xG: <span id="homexG">0</span> - <span id="awayxG">0</span> (<span id="homexGP">0</span> - <span id="awayxGP">0</span>)</h4>
        </div>
    </div>
    <h5 style="text-align: center">Game statistics</h5>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="linestats">
                <div id="xGGame_chart" style="height: 300px"></div>
                <p style="font-weight: bold;" id="homeTeamLine">Home Team</p>
                <p style="font-weight: italic;">Line 1</p>
                <p>TOC: <span id="TocL1T1g">00:00</span> (<span id="TocL1T1p">00:00</span>)</p>
                <p>Pos: <span id="PosL1T1g">0</span>% (<span id="PosL1T1p">0</span>%)</p>
                <p>+-: <span id="PML1T1g">0</span> (<span id="PML1T1p">0</span>)</p>
                <p>xGf: <span id="xGfL1T1g">0</span> (<span id="xGfL1T1p">0</span>)</p>
                <p>xGa: <span id="xGaL1T1g">0</span> (<span id="xGaL1T1p">0</span>)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="linestats">
                <div id="xG%Game_chart" style="height: 300px"></div>
                <p style="font-weight: bold;" id="awayTeamLine">Away Team</p>
                <p style="font-weight: italic;">Line 1</p>
                <p>TOC: <span id="TocL1T2g">00:00</span> (<span id="TocL1T2p">00:00</span>)</p>
                <p>Pos: <span id="PosL1T2g">0</span>% (<span id="PosL1T2p">0</span>%)</p>
                <p>+-: <span id="PML1T2g">0</span> (<span id="PML1T2p">0</span>)</p>
                <p>xGf: <span id="xGfL1T2g">0</span> (<span id="xGfL1T2p">0</span>)</p>
                <p>xGa: <span id="xGaL1T2g">0</span> (<span id="xGaL1T2p">0</span>)</p>
            </div>
        </div>
    </div>
    <h5 style="text-align: center">Period statistics</h5>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="linestats">
                <div id="xGPeriod_chart" style="height: 300px"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="linestats">
                <div id="xG%Period_chart" style="height: 300px"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/livegame.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);
</script>

{% endblock %}