<!--

This is the live result page for a game stream

-->

{% extends 'base_layout.html' %}
{% block content %}
{% load static %}

<div class="container" style="Padding-top: 40px;">
    <div class="row justify-content-center">
        <img src="/static/live.png" width="80px">
        <h1><span id="homeTeam">Home</span> - <span id="awayTeam">Away</span></h1>
        <h5 id="periodNr">Period 1</h5>
        <h2 id="label">00:00:00</h2>
        <h2><span id="homeGoals">0</span> - <span id="awayGoals">0</span></h2>
        <h3>(<span id="homeGoalsP">0</span> - <span id="awayGoals"P>0</span>)</h3>



    </div>
</div>
{% endblock %}