<!--

This is the landing page of the application.

-->

{% extends 'base_layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="banner">
            <div class="app-text">
                <h1>Welcome to Floorball Scanner, the best Floorball analyzer software</h1>
                <p>Floorball Scanner is a tool for Floorball coaches to get <br>deeper insight into the game,
                    both during, and after the play</p>
                {% load static %}
				<img src="{% static 'chart1.png' %}" width="40px" height="40px">
                <h3>Analyse your team performance</h3>
                <p>Floorball Scanner gives you information about your team performance. With the software you
                are able to see how your team and each line performs on the field.</p>
                {% load static %}
				<img src="{% static 'monitoring1.png' %}" width="40px" height="40px">
                <h3>Real-time data</h3>
                <p>With Floorball Scanner you have access to real-time data of your team during the game.</p>
                <ul>
                    <li>Ball possession attack / defence</li>
                    <li>Time on court</li>
                    <li>Saved, missed, and saved shots with shotmap</li>
                    <li>Goals and Plusminus</li>
                    <li>Turnovers</li>
                </ul>
                {% load static %}
				<img src="{% static 'monitoring2.png' %}" width="40px" height="40px">
                <h2>Contact information</h2>
                <a href="mailto:floorballscanner@gmail.com">floorballscanner@gmail.com</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}