<!--

This is the landing page of the application.

-->

{% extends 'base_layout.html' %}
{% block content %}
<div class="container-fluid no-padding">
    <div class="app-text" style="Padding-top: 30px;">
        <div class="row">
            <div class="col-sm-6">
                <h3>Welcome to Floorball Scanner, the best analyzer software for analyzing your game.</h3></br>
                <p>Floorball Scanner is a tool for Floorball coaches to get <br>deeper insight into the game,
                    both during, and after the play.</p></br>
                <a class="btn btn-secondary" href="/signup" role="button">Sign up</a>
                <p> </p></br>
            </div>
            <div class="col-sm-6 px-0">
                {% load static %}
                <img class="img-fluid" src="{% static 'background2.jpg' %}" width="100%" >
            </div>
        </div>
        </br></br>
        {% load static %}
        <img src="{% static 'symbol_transparent.png' %}" width="100px" height="100px">
        </br></br>
        <div class="row">
             <div class="col-sm-6 px-0">
                {% load static %}
                <img class="img-fluid" src="{% static 'background1.jpg' %}" width="100%">
            </div>
            <div class="col-sm-6">
                <h3>Analyse your team performance</h3></br>
                <p>Floorball Scanner gives you information about your team performance. With the software you
                are able to see how your team and each line performs on the field.</p></br>
            </div>
        </div>
        </br></br>
        {% load static %}
        <img src="{% static 'symbol_transparent.png' %}" width="100px" height="100px"></br></br>
        <div class="row">
            <div class="col-sm-6">
                <h3>Real-time data</h3></br>
                <p>With Floorball Scanner you have access to real-time data of your team during the game.</p></br>
                <ul>
                    <li>Ball possession</li>
                    <li>Time on court and ball with averages</li>
                    <li>Saved, missed, and blocked shots with shotmap</li>
                    <li>Goals and Plusminus</li>
                    <li>Expected Goals (xG)</li>
                </ul>
                </br></br>
            </div>
            <div class="col-sm-6 px-0">
                {% load static %}
                <img class="img-fluid" src="{% static 'background3.jpg' %}" width="100%">
            </div>
        </div>
        </br></br>
        {% load static %}
        <img src="{% static 'symbol_transparent.png' %}" width="100px" height="100px"></br></br>
        <iframe width="350" height="197" src="https://www.youtube.com/embed/faYZwFfryfc" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </br></br>
        {% load static %}
        <img src="{% static 'symbol_transparent.png' %}" width="100px" height="100px"></br></br>
        <h2>Contact information</h2></br>
        <a href="mailto:floorballscanner@gmail.com">floorballscanner@gmail.com</a></br></br>
    </div>
</div>
{% endblock %}