<!--

This is the Signup - html - page content file. It is shown when the sign up - button is pressed.
It extends base_layout.html with Django and also utilizes Django's existing signup functionalities.

-->

{% extends 'base_layout.html' %}
{% block content %}

<div class="container-fluid no-padding">
    <div class="app-text" style="Padding-top: 40px;">
        <h3>Sign up to Floorball Scanner</h3></br>
        <p>If you're interested in analyzing your game, send us your detail information and we'll be in contact.</p></br></br>

        <div class="row">
            <div class="col-sm-12">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        </br></br>

    {% load static %}
    <img src="{% static 'symbol_transparent.png' %}" width="100px" height="100px"></br></br>
    </div>
</div>

{% endblock %}
