<!--

This is the Signup - html - page content file. It is shown when the sign up - button is pressed.

-->

{% extends 'base_layout.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}
<div class="landing">

    <div class="landing-page-header">
        <img src="{% static 'symbol_transparent.png' %}" width="72" height="72" alt="">
        <h1>Sign up to Floorball Scanner</h1>
        <p>Send us a message on social media and we'll be in touch.</p>
    </div>

    <div class="landing-social">
        <a href="https://instagram.com/floorballscanner" aria-label="Floorball Scanner on Instagram">
            <img src="{% static 'instagram_icon.png' %}" alt="">
        </a>
        <a href="https://twitter.com/floorballscnr" aria-label="Floorball Scanner on Twitter">
            <img src="{% static 'twitter_icon.png' %}" alt="">
        </a>
    </div>

</div>
{% endblock %}
