<!--

This is the Signup - html - page content file. It is shown when the sign up - button is pressed.
It extends base_layout.html with Django and also utilizes Django's existing signup functionalities.

-->

{% extends 'base_layout.html' %}
{% block content %}

<div class="container-fluid no-padding">
    <div class="app-text" style="Padding-top: 40px;">
        <h3>Sign up to Floorball Scanner</h3></br>
        <p>If you're interested in analyzing your game, send us your detail information and we'll be in contact.</p></br></br>

        <div class="row">
            <div class="col-sm-12">
                <form action="action_page.php">

                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">

                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                    <label for="country">Country</label>
                    <select id="country" name="country">
                      <option value="australia">Australia</option>
                      <option value="canada">Canada</option>
                      <option value="usa">USA</option>
                    </select>

                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                    <input type="submit" value="Submit">

                </form>
            </div>
        </div>

    {% load static %}
    <img src="{% static 'monitoring2.png' %}" width="100px" height="100px"></br></br>
    </div>
</div>

{% endblock %}
