<!--

This is the Signup - html - page content file. It is shown when the sign up - button is pressed.
It extends base_layout.html with Django and also utilizes Django's existing signup functionalities.

-->

{% extends 'base_layout.html' %}
{% block content %}

<div class="container-fluid no-padding">
    <div class="col-sm-12">
        <div class="app-text" style="Padding-top: 40px;">
            <h3>Sign up to Floorball Scanner</h3></br>
            <p>If you're interested in analyzing your game, send us your detail information and we'll be in contact.</p></br></br>
            <div class="row input-container justify-content-center">
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" required />
                            <label>Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <input type="text" required />
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input type="text" required />
                            <label>Phone Number</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <textarea required></textarea>
                            <label>Message</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="btn-lrg submit-btn">Send Message</div>
                    </div>
            </div>

        {% load static %}
        <img src="{% static 'monitoring2.png' %}" width="100px" height="100px"></br></br>
        </div>
    </div>
</div>

{% endblock %}
