<!--

This is the Signup - html - page content file. It is shown when the sign up - button is pressed.
It extends base_layout.html with Django and also utilizes Django's existing signup functionalities.

-->

{% extends 'base_layout.html' %}
{% block content %}
<div class="container-fluid no-padding">
    <div class="col-sm-12">
        <div class="app-text">
            <h3>Sign up to Floorball Scanner</h3></br>
            <p>If you're interested in analyzing your game, sign up to Floorball Scanner. Fill in the information and
            enjoy your new coaching tool.</p></br></br>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Sign up">
                </br></br>
            </form>
        {% load static %}
        <img src="{% static 'monitoring2.png' %}" width="100px" height="100px"></br></br>
        </div>
    </div>
</div>
{% endblock %}
