<!--

This is the analysis - html - page content file. It is shown when the user is logged in and
presses Analyse data - button at the index - page.

It extends app_layout.html with Django

-->

{% extends 'app_layout.html' %}
{% block content %}
{% load static %}
{{ request.user.id|json_script:"user_id" }}

<div class="container" style="Padding-top: 80px;">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h2 style="Padding-top:20px;">Analyse your data</h2>
        </div>
        <div class="col-sm-6">
            <select id="select-game" class="form-control-sm custom-select">
                <option selected disabled>Select a game...</option>
                {% for game in games %}
                    <option value="{{game.id}}">{{game.date|date:"d m Y"}}: {{game.teams.all|join:" - " }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="team-selection">
                <h2 style="Padding-top:20px;">Game Statistics</h2>
                <h3>{{game.date|date:"d m Y"}}</h3>
                <h4 id="gres"><span id="totg_1">0</span> - <span id="totg_2">0</span> (<span id="totp_1">0</span> - <span id="totp_2">0</span>)</h4>
                <h5 id="gxG">xG <span id="totxG_1">0</span> - <span id="totxG_2">0</span> (<span id="totxGp_1">0</span> - <span id="totxGp_2">0</span>)</h5>

            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="Padding-top: 40px;">
        <div class="col-sm-6">
            <div class="linestats">
                <div id="xGGame_chart" style="height: 200px"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="linestats">
                <div id="xG%Game_chart" style="height: 200px"></div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="Padding-top: 40px;">
        <div class="col-sm-6">
            <div class="linestats">
                <div id="T1_typechart" style="height: 200px"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="linestats">
                <div id="T2_typechart" style="height: 200px"></div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="Padding-top: 200px;">
        <div class="col-sm-6">
            <div class="linestats">
                <h5>Team 1 player stats</h5>
                <div  id="T1plstats" style="height: 600px"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="linestats">
                <h5>Team 2 player stats</h5>
                <div  id="T2plstats" style="height: 600px"></div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <h4>Team 1 line stats</h4>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="linestats">
                <div id="T1linestats" style="height: 300px"></div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <h4>Team 2 line stats</h4>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="linestats">
                <div id="T2linestats" style="height: 300px"></div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="linestats" style="Padding-top: 50px">
                <div  id="T1_st_piechart" style="height: 300px"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="linestats" style="Padding-top: 50px" >
                <div id="T2_st_piechart" style="height: 300px"></div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="Padding-top: 10px;">
        <h4>Period 1 statistics</h4>
        <div class="col-sm-12">
            <div class="shot-map">
                <canvas id="myCanvas_1" width="300" height="500"></canvas>
            </div>
        </div>
    </div>
</div>


{% endblock %}