<!-- This is the Edit Teams - page where users can add, delete, and edit
 team data -->

{% extends 'app_layout.html' %}
{% block content %}
{% load static %}

<div class="container" style="Padding-top: 80px;">
    <h2>Edit Teams</h2>
	<div class="frontpage-choices">
		<div class="row justify-content-center">
            <div class="col-sm-6">
            <div class="team-selection">
                <select onchange="selectLevel()" id="select-level" class="form-control-sm custom-select">
                    <option selected disabled>Select a level...</option>
                    {% for level in levels %}
                        <option value="{{level.id}}">{{level.name}}</option>
                    {% endfor %}
                </select>
                <select onchange="editTeam()" id="edit-team" class="form-control-sm custom-select">
                    <option selected disabled>Select a team..</option>
                    <option value="new_team">Add new team...</option>
                    {% for team in teams %}
                        <option value="{{team.id}}">{{team.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="team-selection">

            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}