<!-- This is the Edit Series - page where users can add, delete, and edit
 series data -->

{% extends 'app_layout.html' %}
{% block content %}
{% load static %}

<div class="container" style="Padding-top: 80px;">
    <a href="/accounts/edit_data"><img src="{% static 'back.png' %}" height="30px"></a>
    <h2 style="Padding-top:20px;">Edit Levels</h2>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="team-selection" style="Padding-top: 40px;">
                <select onchange="editLevel()" id="edit-level" class="form-control-sm custom-select">
                    <option selected disabled>Select a level...</option>
                    <option value="new_level">Add new level...</option>
                    {% for level in levels %}
                        <option value="{{level.id}}">{{level.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="team-selection">
                <form>
                    <label for="edit_level_name">Level Name:</label><br>
                    <input class="form-label" type="text" id="edit_level_name" name="edit_level_name" disabled>
                    <img src="{% static 'delete.png' %}" style="Padding-left: 5px;" height="30px" onclick="deleteLevelButton()"><br><br>
                    <label style="Padding-top: 20px;" for="edit_level_country">Country:</label><br><br>
                    <select class="form-control-sm custom-select" id="edit_level_country" name="edit_level_country">
                        <option selected disabled>Select a country...</option>
                    </select><br><br>
                    <input class="form-check-input" type="checkbox" id="edit_level_isSenior" name="edit_level_isSenior" disabled>
                    <label style="Padding-top: 20px;" class="form-check-label" for="edit_level_isSenior">Senior (Adult) Level?:</label><br><br>
                    <input class="form-check-input" type="checkbox" id="edit_level_isMale" name="edit_level_isMale" disabled>
                    <label style="Padding-top: 20px;" class="form-check-label" for="edit_level_isMale">Men's Level?:</label><br><br>
                    <input class="form-check-input" type="checkbox" id="edit_level_isNational" name="edit_level_isNational" disabled>
                    <label style="Padding-top: 20px;" class="form-check-label" for="edit_level_isNational">National Team Level?:</label><br><br>
                    <input class="btn btn-primary" type="button" id="edit_level_button" onclick="editLevelButton()" value="Save" disabled><br><br>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<script type="text/javascript" src="/static/js/editfunctions.js"></script>