<!--

This is the Edit Players - page where users can add, delete, and edit
 player data -->

{% extends 'app_layout.html' %}
{% block content %}
{% load static %}
{{ request.user.id|json_script:"user_id" }}

<div class="container" style="Padding-top: 80px;">
    <a href="/accounts/edit_data"><img src="{% static 'back.png' %}" height="30px"></a>
    <h2 style="Padding-top:20px;" >Edit Players</h2>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="team-selection" style="Padding-top: 40px;">
                <select onchange="selectLevel()" id="select-level" class="form-control-sm custom-select">
                    <option selected disabled>Select a level...</option>
                    {% for level in levels %}
                        <option value="{{level.id}}">{{level.name}}</option>
                    {% endfor %}
                </select>
                <select style="Padding-top:10px;" onchange="selectTeam()" id="select-team" class="form-control-sm custom-select" disabled>
                    <option selected disabled>Select a team..</option>
                </select>
                <select style="Padding-top:10px;" onchange="editPlayer()" id="edit-player" class="form-control-sm custom-select" disabled>
                    <option selected disabled>Select a player..</option>
                    <option value="new_player">Add new player...</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="team-selection">
                <form>
                    <label for="edit_player_firstname">First Name:</label><br>
                    <input class="form-label" type="text" id="edit_player_firstname" name="edit_player_firstname" disabled>
                    <label for="edit_player_lastname">Last Name:</label><br>
                    <input class="form-label" type="text" id="edit_player_lastname" name="edit_player_lastname" disabled>
                    <img src="{% static 'delete.png' %}" id="edit_player_delete" style="Padding-left: 5px;" height="30px" onclick="deletePlayerButton()"><br><br>
                    <label for="edit_player_number">Jersey Number:</label><br>
                    <input class="form-label" type="text" id="edit_player_number" name="edit_player_number" disabled>
                    <label for="edit_player_id">ID:</label><br>
                    <input class="form-label" type="text" id="edit_player_id" name="edit_player_id" disabled>
                    <label style="Padding-top: 20px;" for="edit_player_team">Team:</label><br><br>
                    <select class="form-control-sm custom-select" id="edit_player_level" name="edit_player_level">
                        <option selected disabled>Select a level...</option>
                    </select><br><br>
                    <select style="Padding-top: 10px;" class="form-control-sm custom-select" id="edit_player_team" name="edit_player_team">
                        <option selected disabled>Select a team...</option>
                    </select><br><br>
                    <input class="btn btn-primary" type="button" id="edit_player_button" onclick="editPlayerButton()" value="Save" disabled><br><br>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/editvariables.js"></script>
<script type="text/javascript" src="/static/js/editfunctions.js"></script>


{% endblock %}