<!--

This is the index - html - page content file that is the first web page after login.
It extends app_layout.html with Django

-->

{% extends 'app_layout.html' %}
{% block content %}
{% load static %}
<div class="container" style="Padding-top: 40px;">
	<div class="frontpage-choices">
		<div class="row">
			<!--div class="col-sm-4">
				{% load static %}
				<img src="{% static 'group.png' %}" width="40px" height="40px">
				<h2>My Team</h2>
				<p>Edit your team</p>
				<a class="btn btn-primary" href="/accounts/my_team" role="button">Select</a>
			</div-->
			<div class="col-sm-6">
				<img src="{% static 'symbol_transparent.png' %}" width="40px" height="40px">
				<h2>Line-based game analysis</h2>
				<p>Start analyzing a new game</p>
				<p>Collect data based on line performance, no individual players</p>
				<p>Live - game possibility</p>
				<p>Save data as .csv-file</p>
				<a class="btn btn-primary" href="/accounts/new_game" role="button">Select</a>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'symbol_transparent.png' %}" width="40px" height="40px">
				<h2>Player-based game analysis</h2>
				<p>Start analyzing a new game</p>
				<p>Collect data based on individual player performance</p>
				<p>Live - game possibility</p>
				<p>Save data as .csv-file</p>
				<a class="btn btn-primary" href="/accounts/premium_game" role="button">Select</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}