<!--

This is the analysis - html - page content file. It is shown when the user is logged in and
presses Analyse data - button at the index - page.

It extends app_layout.html with Django

-->

{% extends 'app_layout.html' %}
{% block content %}
{% load static %}
{{ request.user.id|json_script:"user_id" }}

<div class="container mt-5">

    <!-- Floorball canvas -->
	<canvas id="floorball-canvas" width="600" height="400"></canvas>

	<!-- Shot Form Popup Window -->
    <div id="shot-form" class="bg-light p-3" style="display: none; position: absolute;">
      <h3>Select Shot Type</h3>
      <ul>
        <li><button type="button" class="btn btn-link" data-type="wrist">Wrist Shot</button></li>
        <li><button type="button" class="btn btn-link" data-type="slap">Slap Shot</button></li>
        <li><button type="button" class="btn btn-link" data-type="snap">Snap Shot</button></li>
      </ul>
    </div>

</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/static/js/litescript.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.load('current', {'packages':['table']});
</script>

{% endblock %}