{% extends 'app_layout.html' %}
{% block content %}

<div class="container">
    <h3>Analyze a New Game</h3>
    <div class="row">
        <div class="team-selection">
			<div class="col-sm-4">
                <h2>Team 1</h2>
                <select id="home_teams">
                    <option value="None">-- Select --</option>
                    <option value="ID001">Rangers</option>
                    <option value="ID002">Oilers</option>
                    <option value="ID003">Add team...</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="game-clock">
                <h4>Period 1</h4>
                <h2 id="label">00:00:00</h2>
            </div>
            <div class="game-btn" role="group" aria-label="Game buttons">
                <button id="reset" type="button" onclick="Reset()" class="btn btn-secondary">Reset</button>
                <button id="start" type="button" onclick="Start()" class="btn btn-secondary">Start</button>
                <button id="period" type="button" onclick="Period()" class="btn btn-secondary">Period</button>
            </div>
        </div>
        <div class="team-selection">
			<div class="col-sm-4">
                <h2>Team 2</h2>
                <select id="away_teams">
                    <option value="None">-- Select --</option>
                    <option value="ID001">Rangers</option>
                    <option value="ID002">Oilers</option>
                    <option value="ID003">Add team...</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="shot-map">
			<div class="col-sm-4">
                <p>Shot mapping</p>
                <canvas id="myCanvas" onmousedown="GetCoordinates()" width="250" height="355"></canvas>
            </div>
        </div>
        <div class="button-input">
            <div class="col-sm-4">
                <p>Line on court</p>
                <div class="line-btn btn-group-lg" role="group" aria-label="Line buttons">
                    <button id="L1" type="button" onclick="Line_change(1)" class="btn btn-secondary">Line 1</button>
                    <button id="L2" type="button" onclick="Line_change(2)" class="btn btn-secondary">Line 2</button>
                    <button id="L3" type="button" onclick="Line_change(3)" class="btn btn-secondary">Line 3</button>
                </div>
                <div class="line-btn" role="group" aria-label="Line buttons">
                    <button id="Pp1" type="button" onclick="Line_change(4)" class="btn btn-secondary">PP 1</button>
                    <button id="Pp2" type="button" onclick="Line_change(5)" class="btn btn-secondary">PP 2</button>
                    <button id="Sh1" type="button" onclick="Line_change(6)" class="btn btn-secondary">SH 1</button>
                    <button id="Sh2" type="button" onclick="Line_change(7)" class="btn btn-secondary">SH 2</button>
                </div>
            </div>
        </div>
            <div class="pos-input">
                <div class="col-sm-4">
                    <p>Position</p>
                    <div class="pos-btn btn-group-lg" role="group" aria-label="Position buttons">
                        <button id="Team1" type="button" onclick="BallTeamOne()" class="btn btn-secondary">Team 1</button>
                        <button id="Team2" type="button" onclick="BallTeamTwo()" class="btn btn-secondary">Team 2</button>
                    </div>
                    <div class="zone-btn btn-group-lg btn-group-vertical" role="group" aria-label="Zone buttons">
                        <button id="AttZ" type="button" onclick="BallAttack()" class="btn btn-secondary">Attack</button>
                        <button id="DefZ" type="button" onclick="BallDefence()" class="btn btn-secondary">Defence</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="shotmenu" class="shot-menu">
  <ul class="menu-options">
    <li class="menu-option" onclick="shotMissed()">Missed</li>
    <li class="menu-option" onclick="shotSaved()">Saved</li>
    <li class="menu-option" onclick="shotBlocked()">Blocked</li>
    <li class="menu-option" onclick="shotGoal()">Goal</li>
  </ul>
</div>

<script>
    console.log("1");
    var line_on = 1;
    var lines = ["L1", "L2", "L3", "Pp1", "Pp2", "Sh1", "Sh2"];
    var is_on = 0;
    var counter = 1;
    var Ball_pos = 1;
    var PosX = 0;
    var PosY = 0;
    var cnvs = document.getElementById("myCanvas");
    var menu = document.getElementById("shotmenu");
    var myImg = new Image();
    myImg.src = "/static/field.png"


    window.onload = function() {
        var ctx = cnvs.getContext("2d");
        ctx.drawImage(myImg,0,0,250,355);
    }

    function BallTeamOne() {
        document.getElementById("Team2").style.background='#4CAF50';
        document.getElementById("Team1").style.background='#555555';
        Ball_pos = 1;
    }
    function BallTeamTwo() {
        document.getElementById("Team2").style.background='#555555';
        document.getElementById("Team1").style.background='#4CAF50';
        Ball_pos = 2;
    }
    function BallAttack() {
        document.getElementById("AttZ").style.background='#555555';
        document.getElementById("DefZ").style.background='#4CAF50';
    }
    function BallDefence() {
        document.getElementById("AttZ").style.background='#4CAF50';
        document.getElementById("DefZ").style.background='#555555';
    }
    function Line_change(line) {
        console.log(lines);
        document.getElementById(lines[line_on-1]).style.background='#4CAF50';
        document.getElementById(lines[line-1]).style.background='#555555';
        line_on = line;
        console.log(line_on);
    }
    function Start() {
        if (is_on == 0) {    // Start game clock
           document.getElementById("start").innerHTML = "Stop";
           document.getElementById("start").style.background='#555555';
           is_on = 1;
           Counter();
        }
        else if (is_on == 1) {  // Stop game clock
            document.getElementById("start").innerHTML = "Start";
            document.getElementById("start").style.background='#4CAF50';
            is_on = 0;
        }
    }
    function Reset() {

    }
    function Period() {

    }
    function Counter() {
        Count();
    }

    function Count() {
         if (is_on == 1) {
             var date = new Date(counter * 1000);
             var display = date.toISOString().substr(11, 8);
             document.getElementById("label").innerHTML = display;
             counter++;
             console.log(counter);
             t = setTimeout(function(){ Count() }, 1000);
         }
    }

    function FindPosition(oElement)
    {
      if(typeof( oElement.offsetParent ) != "undefined")
      {
        for(var posX = 0, posY = 0; oElement; oElement = oElement.offsetParent)
        {
          posX += oElement.offsetLeft;
          posY += oElement.offsetTop;
        }
          return [ posX, posY ];
        }
        else
        {
          return [ oElement.x, oElement.y ];
        }
    }

    function GetCoordinates(e)
    {
        var ImgPos;
        ImgPos = FindPosition(cnvs);
        if (!e) var e = window.event;
        if (e.pageX || e.pageY)
        {
        PosX = e.pageX;
        PosY = e.pageY;
        }
        else if (e.clientX || e.clientY)
        {
          PosX = e.clientX + document.body.scrollLeft
            + document.documentElement.scrollLeft;
          PosY = e.clientY + document.body.scrollTop
            + document.documentElement.scrollTop;
        }

        menu.style.display = "block";
        menu.style.left = PosX + "px";
        menu.style.top = PosY + "px";

        PosX = PosX - ImgPos[0];
        PosY = PosY - ImgPos[1];
    }

    function shotMissed() {
        Draw(PosX,PosY,1);
    }

    function shotBlocked() {
        Draw(PosX,PosY,2);
    }

    function shotSaved() {
        Draw(PosX,PosY,3);
    }

    function shotGoal() {
        Draw(PosX,PosY,4);
    }

    function Draw(x,y,type)
    {
        var ctx = cnvs.getContext("2d");
        menu.style.display = "none";
        ctx.font = "15px Arial";

        if (Ball_pos == 1) {
            ctx.fillStyle = "blue";
        }
        else if (Ball_pos == 2) {
            ctx.fillStyle = "red";
        }
        if (type == 1) {    // Shot Missed
        ctx.fillText("M", x, y);
        }
        else if (type == 2) {   // Shot Blocked
        ctx.fillText("B", x, y);
        }
        else if (type == 3) {   // Shot Saved
        ctx.fillText("S", x, y);
        }
        else if (type == 4) {   // Shot Goal
        ctx.fillText("G", x, y);
        }
    }

    function homeTeam() {
        console.log("Home Team changed");
    }

    function awayTeam() {
        console.log("Away Team changed");
    }

</script>

{% endblock %}