<!--

This is the analysis - html - page content file. It is shown when the user is logged in and
presses Analyse data - button at the index - page.

It extends app_layout.html with Django

-->

{% extends 'app_layout.html' %}
{% block content %}
{% load static %}
{{ request.user.id|json_script:"user_id" }}

<div class="container" style="Padding-top: 80px;">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="team-selection">
                <h2 style="Padding-top:20px;">Select games</h2><br>
                <select id="select-game" class="form-control-sm custom-select" multiple>
                    <option selected disabled>Select games...</option>
                    {% for game in games reversed %}
                        <option value="{{game.id}}">{{game.date|date:"d.m.Y"}}: {{game.game_data.name_t1}} - {{game.game_data.name_t2}}</option>
                    {% endfor %}
                </select>
                <button onclick="changeGame()" class="btn btn-secondary" style="font-size:12px;">Load</button>
            </div>
            <hr width="100%" size="2" align="center" color="#002072" noshade>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 40px;">
        <div class="col-sm-6">
            <div class="linestats">
                <div style="text-align: center;" id="gameStatsF"></div>
                <div style="text-align: center;" id="gameStatsA"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="linestats">
                <div style="text-align: center;" id="xGTypeStatsF"></div>
                <div style="text-align: center;" id="xGTypeStatsA"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 40px;">
        <div class="col-sm-12">
            <h5 style="text-align: center;">Game stats</h5>
            <div class="linestats">
                <div style="text-align: center;" id="gameData"></div>
                <p style="font-size:8px;Padding-top:5px;">
                <b>xGF</b> = expected Goals For Team 1,
                <b>xGA</b> = expected Goals Against Team 1,
                <b>xGOTF</b> = expected Goals (On-Target shots) For Team 1,
                <b>xGOTA</b> = expected Goals (On-Target shots) Against Team 1,
                <b>GF</b> = Goals For Team 1,
                <b>GA</b> = Goals Against Team 1,
                <b>SF</b> = Shots For Team 1,
                <b>SA</b> = Shots Against Team 1,
                <b>xGFDir%</b> = % of expected Goals For Team 1 from Direct attacks (Shot types: Direct, Rebound, Cross-pass),
                <b>xGADir%</b> = % of expected Goals Against Team 1 from Direct attacks,
                <b>xGFTO%</b> = % of expected Goals For Team 1 from TurnOver attacks (Shot types: Turn-over | Direct, Turn-over | Cross-pass),
                <b>xGATO%</b> = % of expected Goals Against Team 1 from TurnOver attacks
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 40px;">
        <div class="col-sm-12">
            <h5 style="text-align: center;">Game xG stats | 5v5 | PP | SH</h5>
            <div class="linestats">
                <div style="text-align: center;" id="gameDataST"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 40px;">
        <h5 style="text-align: center;">Player stats | 5 vs 5</h5>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-6">
            <div class="linestats">
                <div style="text-align:center;height:500px;width:100%;" id="GAxG_plot"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="linestats">
                <div style="text-align:center;height:500px;" id="GAxAss_plot"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 10px;">
        <div class="col-sm-6">
            <div class="linestats">
                <div style="text-align:center;height:500px;width:100%;" id="GAxPoints_plot"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="linestats">
                <div style="text-align:center;height:500px;" id="xG%_plot"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 10px;">
        <div class="col-sm-12">
            <div class="linestats">
                <div style="text-align: center;" id="playerData"></div>
                <p style="font-size:8px;Padding-top:5px;">
                <b>ixG%</b> = % of individual (player) expected Goals in relation to team xG,
                <b>ixG</b> = individual expected Goals,
                <b>iGoals</b> = individual Goals,
                <b>ixAss%</b> = % of individual expected Assists in relation to team xAssists,
                <b>ixAss</b> = individual expected Assists,
                <b>iAss</b> = individual Assists (passes leading to goal),
                <b>ixPo%</b> = % of individual expected Points in relation to team xPoints,
                <b>ixPo</b> = individual expected Points,
                <b>iPo</b> = individual Points,
                <b>iSF</b> = individual Shots For,
                <b>ixG/iSF</b> = individual expected Goals / individual Shots for,
                <b>iPa</b> = individual Passes (leading to a shot),
                <b>Pos+</b> = number of Possession gained,
                <b>Pos-</b> = number of Possession lost,
                <b>xGF</b> = Team expected Goals For while player on field,
                <b>xGA</b> = Team expected Goals Against while player on field,
                <b>xG%</b> = % of expected Goals For in relation to expected Goals Against
                <b>GF</b> = Team Goals For while player on field,
                <b>GA</b> = Team Goals Against while player on field,
                <b>+-</b> = Player plus minus,
                <b>SF</b> = Team Shots For while player on field,
                <b>SA</b> = Team Shots Against while player on field
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 40px;">
        <h5 style="text-align: center;">Player Shotmaps</h5>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-4">
            <div class="linestats">
                <select id="select-p1" class="form-control-sm custom-select" style="Padding-top:5px;">
                    <option selected disabled>Select player...</option>
                </select>
                <br><br>
                <button onclick="drawMap(1)" class="btn btn-secondary" style="font-size:12px;">Draw</button>
                <br>
                <canvas id="p1Map" width="200" height="332" style="Padding-top: 10px;"></canvas>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="linestats">
                <div style="text-align: center;" id="p1Data"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-4">
            <div class="linestats">
                <select id="select-p2" class="form-control-sm custom-select" style="Padding-top:5px;">
                    <option selected disabled>Select player...</option>
                </select>
                <br><br>
                <button onclick="drawMap(2)" class="btn btn-secondary" style="font-size:12px;">Draw</button>
                <br>
                <canvas id="p2Map" width="200" height="332" style="Padding-top: 10px;"></canvas>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="linestats">
                <div style="text-align: center;" id="p2Data"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-4">
            <div class="linestats">
                <select id="select-p3" class="form-control-sm custom-select" style="Padding-top:5px;">
                    <option selected disabled>Select player...</option>
                </select>
                <br><br>
                <button onclick="drawMap(3)" class="btn btn-secondary" style="font-size:12px;">Draw</button>
                <br>
                <canvas id="p3Map" width="200" height="332" style="Padding-top: 10px;"></canvas>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="linestats">
                <div style="text-align: center;" id="p3Data"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-4">
            <div class="linestats">
                <select id="select-p4" class="form-control-sm custom-select" style="Padding-top:5px;">
                    <option selected disabled>Select player...</option>
                </select>
                <br><br>
                <button onclick="drawMap(4)" class="btn btn-secondary" style="font-size:12px;">Draw</button>
                <br>
                <canvas id="p4Map" width="200" height="332" style="Padding-top: 10px;"></canvas>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="linestats">
                <div style="text-align: center;" id="p4Data"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-4">
            <div class="linestats">
                <select id="select-p5" class="form-control-sm custom-select" style="Padding-top:5px;">
                    <option selected disabled>Select player...</option>
                </select>
                <br><br>
                <button onclick="drawMap(5)" class="btn btn-secondary" style="font-size:12px;">Draw</button>
                <br>
                <canvas id="p5Map" width="200" height="332" style="Padding-top: 10px;"></canvas>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="linestats">
                <div style="text-align: center;" id="p5Data"></div>
            </div>
        </div>
    </div>
    <br><br>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/static/js/test_analysis.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.load('current', {'packages':['table']});
</script>

{% endblock %}