<!--

This is the analysis - html - page content file. It is shown when the user is logged in and
presses Analyse data - button at the index - page.

It extends app_layout.html with Django

-->

{% extends 'app_layout.html' %}
{% block content %}
{% load static %}
{{ request.user.id|json_script:"user_id" }}

<div class="container" style="Padding-top: 80px;">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="team-selection">
                <h2 style="Padding-top:20px;">Select games</h2><br>
                <select id="select-game" class="form-control-sm custom-select" multiple>
                    <option selected disabled>Select games...</option>
                    {% for game in games reversed %}
                        <option value="{{game.id}}">{{game.date|date:"d.m.Y"}}: {{game.game_data.name_t1}} - {{game.game_data.name_t2}}</option>
                    {% endfor %}
                </select>
                <button onclick="changeGame()" class="btn btn-secondary" style="font-size:12px;">Load</button>
            </div>
            <hr width="100%" size="2" align="center" color="#002072" noshade>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 40px;">
        <div class="col-sm-12">
            <h5 style="text-align: center;">Game stats</h5>
            <div class="linestats">
                <div style="text-align: center;" id="gameData"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 40px;">
        <h5 style="text-align: center;">Cumulative player stats 5 vs 5</h5>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-6">
            <div class="linestats">
                <div style="text-align:center;height:500px;width:100%;" id="GAxG_plot"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="linestats">
                <div style="text-align:center;height:500px;" id="GAxAss_plot"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 10px;">
        <div class="col-sm-6">
            <div class="linestats">
                <div style="text-align:center;height:500px;width:100%;" id="GAxPoints_plot"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="linestats">
                <div style="text-align:center;height:500px;" id="xG%_plot"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 10px;">
        <div class="col-sm-12">
            <div class="linestats">
                <div style="text-align: center;" id="playerData"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 40px;">
        <h5 style="text-align: center;">Player Shotmaps</h5>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-4">
            <div class="linestats">
                <select id="select-p1" class="form-control-sm custom-select" style="Padding-top:5px;">
                    <option selected disabled>Select player...</option>
                </select>
                <br><br>
                <button onclick="drawMap(1)" class="btn btn-secondary" style="font-size:12px;">Draw</button>
                <br>
                <canvas id="p1Map" width="200" height="332" style="Padding-top: 10px;"></canvas>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="linestats">
                <div style="text-align: center;" id="p1Data"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-4">
            <div class="linestats">
                <select id="select-p2" class="form-control-sm custom-select" style="Padding-top:5px;">
                    <option selected disabled>Select player...</option>
                </select>
                <br><br>
                <button onclick="drawMap(2)" class="btn btn-secondary" style="font-size:12px;">Draw</button>
                <br>
                <canvas id="p2Map" width="200" height="332" style="Padding-top: 10px;"></canvas>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="linestats">
                <div style="text-align: center;" id="p2Data"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-4">
            <div class="linestats">
                <select id="select-p3" class="form-control-sm custom-select" style="Padding-top:5px;">
                    <option selected disabled>Select player...</option>
                </select>
                <br><br>
                <button onclick="drawMap(3)" class="btn btn-secondary" style="font-size:12px;">Draw</button>
                <br>
                <canvas id="p3Map" width="200" height="332" style="Padding-top: 10px;"></canvas>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="linestats">
                <div style="text-align: center;" id="p3Data"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-4">
            <div class="linestats">
                <select id="select-p4" class="form-control-sm custom-select" style="Padding-top:5px;">
                    <option selected disabled>Select player...</option>
                </select>
                <br><br>
                <button onclick="drawMap(4)" class="btn btn-secondary" style="font-size:12px;">Draw</button>
                <br>
                <canvas id="p4Map" width="200" height="332" style="Padding-top: 10px;"></canvas>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="linestats">
                <div style="text-align: center;" id="p4Data"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="Padding-top: 20px;">
        <div class="col-sm-4">
            <div class="linestats">
                <select id="select-p5" class="form-control-sm custom-select" style="Padding-top:5px;">
                    <option selected disabled>Select player...</option>
                </select>
                <br><br>
                <button onclick="drawMap(5)" class="btn btn-secondary" style="font-size:12px;">Draw</button>
                <br>
                <canvas id="p5Map" width="200" height="332" style="Padding-top: 10px;"></canvas>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="linestats">
                <div style="text-align: center;" id="p5Data"></div>
            </div>
        </div>
    </div>
    <br><br>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/static/js/test_analysis.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.load('current', {'packages':['table']});
</script>

{% endblock %}